<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
      <title>About</title>
    </head>

    <body>
      <h1>Rango says...</h1>
      <div>
        Rango says here is the about page<br />
        <strong>{{boldmessage}}</strong><br />
      </div>
      <div>
        <a href="/rango">Main page</a><br />

        <img src="{% static "images/rango.jpg" %}"/>
        <img src="{{MEDIA_URL}}cat.jpg"
             alt="CAT"/> <!-- New line -->
      </div>
    </body>

</html>
